<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h4>Về chúng tôi</h4>
      <ul>
        <li><a href="#">Giới thiệu</a></li>
        <li><a href="#">Hệ thống cửa hàng</a></li>
        <li><a href="#">Giấy phép kinh doanh</a></li>
        <li><a href="#">Quy chế hoạt động</a></li>
        <!-- <li><a href="#">Chính sách đặt cọc</a></li>
        <li><a href="#">Chính sách nội dung</a></li>
        <li><a href="#">Chính sách đổi trả thuốc</a></li>
        <li><a href="#">Chính sách giao hàng</a></li>
        <li><a href="#">Chính sách bảo mật</a></li> -->
        <li><a href="#">Chính sách thanh toán</a></li>
        <!-- <li><a href="#">Kiểm tra hóa đơn điện tử</a></li> -->
        <!-- <li><a href="#">Chính sách thu thập và xử lý dữ liệu cá nhân</a></li>
        <li><a href="#">Chính sách hoàn hủy đổi trả Vắc xin</a></li>
        <li><a href="#">Thông tin trung tâm bảo hành máy thiết bị y tế từng hãng</a></li> -->
      </ul>
    </div>
    <div class="footer-section">
      <h4>Danh mục</h4>
      <ul>
        <li><a href="#">Thực phẩm chức năng</a></li>
        <!-- <li><a href="#">Dược mỹ phẩm</a></li> -->
        <li><a href="#">Thuốc</a></li>
        <!-- <li><a href="#">Chăm sóc cá nhân</a></li>
        <li><a href="#">Trang thiết bị y tế</a></li> -->
        <li><a href="#">Đặt thuốc online</a></li>
        <!-- <li><a href="#">Trung tâm Tiêm chủng</a></li> -->
      </ul>
    </div>
    <div class="footer-section">
      <h4>Tìm hiểu thêm</h4>
      <ul>
        <!-- <li><a href="#">Góc sức khỏe</a></li> -->
        <li><a href="#">Tra cứu thuốc</a></li>
        <li><a href="#">Tra cứu dược chất</a></li>
        <li><a href="#">Tra cứu dược liệu</a></li>
        <!-- <li><a href="#">Bệnh thường gặp</a></li> -->
        <!-- <li><a href="#">Bệnh viện</a></li> -->
        <!-- <li><a href="#">Đội ngũ chuyên môn</a></li>
        <li><a href="#">Hoạt động xã hội</a></li>
        <li><a href="#">Tin tức tuyển dụng</a></li>
        <li><a href="#">Tin tức sự kiện</a></li> -->
      </ul>
    </div>
    <div class="footer-section">
      <h4>Tổng đài</h4>
      <ul>
        <li>Tư vấn mua hàng: <a href="tel:18006928">18001090 </a></li>
      </ul>

      <!-- <h4>Hỗ trợ thanh toán</h4>
      <div class="payment-icons">
        <img src="link-to-visa-icon.png" alt="Visa">
        <img src="link-to-mastercard-icon.png" alt="MasterCard">
        <img src="link-to-momo-icon.png" alt="MoMo">
        
      </div> -->
    </div>
    <div class="footer-section">
      <h4>Kết nối với chúng tôi</h4>
      <div class="social-icons">
        <a href="#"
          ><img src="assets/images/facebook_logo.svg" alt="Facebook"
        /></a>
        <a href="#"><img src="assets/images/Logo_Zalo.svg" alt="Zalo" /></a>
      </div>
      <!-- <h4>Tải ứng dụng</h4>
      <div class="qr-code">
        <img src="link-to-qr-code.png" alt="QR Code">
      </div> -->
    </div>
  </div>
  <!-- <div class="footer-bottom">
    <h5>
      © 2007 - 2024 Công ty Cổ Phần Dược Phẩm Thân Thiện. Địa chỉ: Số 23, Đường Nguyễn Trãi, Hà Đông, Hà Nội. 
      Số điện thoại: 0123456789 . Email: nhathuocthanthien.com.vn.
    </h5>
  </div> -->
</footer>
