<div class="app-menu navbar-menu">
  <div class="container-fluid">
    <ul class="navbar-nav" id="navbar-nav">
      <li class="menu-title"><span>Menu</span></li>

      <!-- Lặp qua danh sách danh mục -->
      <li
        class="nav-item position-relative"
        *ngFor="let item of loaiThuocLst| slice:0:4"
        (mouseenter)="onMouseEnter(item)"
        (mouseleave)="onMouseLeave()"
      >
        <a class="nav-link menu-link">
          <span>{{ item.tenLoai }}</span>
        </a>

        <div class="popup-large" *ngIf="selectedItem === item">
          <div class="row">
            <!-- <div class="col-xl-3 border-end p-3">
              <h5>Loại <span>{{ item.tenLoai }}</span></h5>
              <ul class="list-group">
                <li
                  class="list-group-item"
                  *ngFor="let loai of item.loaiThuocLst"
                >
                  {{ loai.tenLoaiThuoc }}
                </li>
              </ul>
            </div>

            <div class="col-xl-9 p-3">
              <h5>Danh Sách <span>{{ item.tenLoai }}</span></h5>
              <div *ngFor="let thuoc of item.thuocLst" class="mb-2">
                <strong>{{ thuoc.tenThuoc }}</strong>
                <p>Mô tả: {{ thuoc.moTa }}</p>
              </div>
            </div> -->
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
