<div class="app-menu navbar-menu">
  <div class="container-fluid">
    <ul class="navbar-nav" id="navbar-nav">
      <li class="menu-title"><span>Menu</span></li>
      <!-- Lặp qua danh sách danh mục -->
      <li
        class="nav-item position-relative"
        *ngFor="let item of loaiThuocLst | slice : 0 : 4"
        (mouseenter)="onMouseEnter(item)"
        (mouseleave)="onMouseLeave()"
      >
        <a class="nav-link menu-link">
          <span button (click)="showAllItems(item)">{{ item.tenLoai }}</span>
        </a>
        <div class="collapse menu-dropdown mega-dropdown-menu" id="sidebarUI">
          <div class="row">
            <div class="col-lg-4">
              <ul class="nav nav-sm flex-column">
                <div class="d-flex justify-content-sm-start">
                  <h4 class="bestseller-text">Bán chạy nhất</h4>
                </div>

                <div class="items-container d-flex">
                  <div
                    class="item-card"
                    *ngFor="let thuoc of item.dsThuoc | slice : 0 : 4"
                    (click)="showDetail(thuoc)"
                  >
                    <img
                      [src]="thuoc.avatar"
                      alt="Hình ảnh thuốc"
                      class="item-image"
                    />
                    <div class="item-info">
                      <h5 class="item-name">{{ thuoc.tenThuoc }}</h5>
                      <p class="item-price">
                        {{ thuoc.giaBan | number : "1.0-0" }}đ /
                        {{ thuoc.donVi }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <button (click)="showAllItems(item)" class="view-all-button">
                    Xem tất cả -->
                  </button>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
